.schema_node {
    margin-top: 20px;
    text-align: center;
    font-family: 'robotolight';
    color: #CCC;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.schema_td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.schema_node:hover {
    cursor: pointer;
}

.window {
    background-color: #ffffff;
    border: 1px solid;#border-radius: 0.5em;
    #box-shadow: 2px 2px 5px #AAAAAA;
    #color: black;
    #height: 5em;
    position: absolute;
    #width: 5em;
}

.window:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}

.button_add {
    #text-align: center;
    #border-radius: 0.5em;
    border: 1px solid;
    font-size: 12px;
    color: #000000;
    padding-right: 10px;
    padding-left: 10px;
}

.window_head {
    background-color: #6F5F95;
    border: 1px solid;
    #border-radius: 0.5em;
    font-size: 16px;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}

.button_container {
    #margin: 3px;
    #background-color: #aaaaaa
}

.notification {
    position: absolute;
}
#notifications {
    z-index: 10000;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    position: absolute;
    top: 1px;
}
#notifications .alert {
    box-shadow: 0 0 1px 1px;
    margin-bottom: 5px;
}

.palette-scroll {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 35px;
    padding: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.label-primary {
    background-color: #6F5F95;
}

.nav-logout {
    margin-top: 10px;
}

.navbar-header {
    margin-left: 0px;
    padding-bottom: 15px;
}

/* checked mark aspect */
input[type="checkbox"]:not(:checked) +
label:after, input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 28px;
    color: #716096;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.disabled {
   pointer-events: none;
   cursor: default;
}