<!-- HEADER SECTION -->
<div id="top">
    <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 15px;">
        <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle"> <i class="icon-align-justify"></i> </a>
        <!-- LOGO SECTION -->
        <header class="navbar-header">
            <a href="index.html" class="navbar-brand"> <img src="images/logo.png" alt="" /> </a>
        </header>
        <!-- END LOGO SECTION -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="nav-logout">
                <a href="/signout"><span class="fa fa-sign-out"></span> Logout </a>
            </li>
            <!--<li class="dropdown">
            <ul class="dropdown-menu dropdown-user">
            <li>
            <a href="#"><i class="icon-user"></i> User Profile </a>
            </li>
            <li>
            <a href="#"><i class="icon-gear"></i> Settings </a>
            </li>
            <li class="divider"></li>
            <li>
            <a href="login.html"><i class="icon-signout"></i> Logout </a>
            </li>-->
        </ul>
        </li>
        </ul>
    </nav>
</div>